# EditorConfig: http://editorconfig.org
root = true

[*]
insert_final_newline = true
indent_size = 4
max_line_length = 120
indent_style = space

[*.yml]
indent_size = 2

[*.{kt, kts, java}]
ij_kotlin_code_style_defaults = KOTLIN_OFFICIAL
ij_kotlin_allow_trailing_comma = true
ij_kotlin_line_comment_add_space = true
ij_kotlin_name_count_to_use_star_import = 999
ij_kotlin_name_count_to_use_star_import_for_members = 999
ij_java_class_count_to_use_import_on_demand = 999
indent_size = 2

[*.kts]
# This is only different to the indentation of .kt files above because ktlint doesn't take the indent size into account
# when checking .kts files. Not sure whether this is intentional or not, but I can live with this for now
indent_size = 4
